<% include ../partials/header %>

    <body>



        <% include ../partials/menu %>

      <!-- menu -->

      <div class="ui text container">
          <img class="ui medium left floated image" data-src="/images/helm-proyek.png">
          <h2>Hello, <b><%= username %></b></h2>
          <h3>Here is your "helm proyek mu" dashboard</h3>
      </div>
      <% include ../partials/footer %>
    </body>

    </html>
