<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="/" class="active item">Home</a>
    <% if(session.username) { %>
      <div class="right menu">
        <div class="item">
          <a href="/cart" class="ui primary button">Cart</a>
        </div>
        <div class="item">
          <a href="/logout" class="ui button">Logout</a>
        </div>
      </div>
    <% } else { %>
      <a class="item">Shop</a>
      <div class="right menu">
        <div class="item">
          <a href="/login" class="ui button">Log in</a>
        </div>
        <div class="item">
          <a href="/register" class="ui primary button">Sign Up</a>
        </div>
      </div>
    <% } %>


  </div>
</div>
