<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" class="active item">Home</a>
    <% if(session.username) { %>
      <div class="right item">
        <a href="/cart" class="ui inverted button">Cart</a>
        <a href="/logout" class="ui inverted button">Logout</a>
      </div>
<% } else { %>
  <a href="/" class="item">Shop</a>
  <div class="right item">
    <a href="/login" class="ui inverted button">Log in</a>
    <a href="/register" class="ui inverted button">Sign Up</a>
  </div>
<% } %>
  </div>
</div>
