<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Shop</a>
  <a class="item">Checkout</a>
  <a href="/login" class="item">Login</a>
  <a href="/register" class="item">Signup</a>
</div>
