<% include ./partials/header %>

<body>

<!-- Following Menu -->
<% include ./partials/menu/following %>


<% include ./partials/menu/sidebar %>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical  center aligned segment">
    <% include ./partials/menu/inside %>



    <div class="ui text container">
      <h1 class="ui inverted header">
        Keranjang belanja kamu
      </h1>
      <br>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle center stackable grid container">


      <div class="row">
        <div class="ui link cards">


          <div class="ui items">
          <div class="item">
            <div class="ui small image">
              <img src="/images/wireframe/image.png">
            </div>
            <div class="content">
              <div class="header">Arrowhead Valley Camp</div>
              <div class="meta">
                <span class="price">$1200</span>
                <span class="stay">1 Month</span>
              </div>
              <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui small image">
              <img src="/images/wireframe/image.png">
            </div>
            <div class="content">
              <div class="header">Buck's Homebrew Stayaway</div>
              <div class="meta">
                <span class="price">$1000</span>
                <span class="stay">2 Weeks</span>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui small image">
              <img src="/images/wireframe/image.png">
            </div>
            <div class="content">
              <div class="header">Astrology Camp</div>
              <div class="meta">
                <span class="price">$1600</span>
                <span class="stay">6 Weeks</span>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>
          </div>
        </div>
</div>
      </div>

      <div class="row">

          <h2 class="ui center aligned icon header">
          Jangan lupa di chackout ya <span class="ui huge blue label">Username</span> ! <br/>
          dari pada dimarahi orang tersayang karena gak bawa buah tangan ? hayo lho...
        </h2>
      </div>
      <div class="row">
        <div class="ui text container">

        <div class="ui huge button"><a href="/">Lanjut belanja lagi</a></div>
        <div class="ui huge primary button">Checkout sekarang <i class="right arrow icon"></i></div>
      </div>
      </div>


    </div>
  </div>
  <% include ./partials/footer %>

</div>

</body>

</html>
