<% include ./partials/header %>

<body>

<!-- Following Menu -->
<% include ./partials/menu/following %>


<% include ./partials/menu/sidebar %>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical  center aligned segment">
    <% include ./partials/menu/inside %>



    <div class="ui text container">
      <h1 class="ui inverted header">
        Terimakasih sudah checkout!
      </h1>
      <br>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle center stackable grid container">


      <div class="row">

      </div>
<div class="row">
<h1>Buah tangan akan dikirim ke : Bandara Hanan Judin.</h1>
<h3>Pada hari Minggu, 26 Februari 2017. Jam : 19:00 WIB</h3>
</div>
<div class="ui divider"></div>

    </div>
  </div>
  <% include ./partials/footer %>

</div>

</body>

</html>
