<% include ./partials/header %>

<body>

<!-- Following Menu -->
<% include ./partials/menu/following %>


<% include ./partials/menu/sidebar %>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <% include ./partials/menu/inside %>


    <div class="ui text container">
      <h1 class="ui inverted header">
        Buah Tangan
      </h1>
      <h2>Habis liburan ? <br/>
        Jangan lupa bawa buah tangan untuk orang tersayang.</h2>
      <br>
      <div class="ui huge primary button">Belanja Sekarang <i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle center stackable grid container">
      <div class="row">

          <h2 class="ui center aligned icon header">
          Kami lihat kamu lagi di <span class="ui huge blue label">Belitung</span> ya ? <br/> Ini dia oleh-oleh yang cocok buat kamu (:
        </h2>
      </div>

      <div class="row">
        <div class="ui link cards">


  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="header">Otak otak </div>
      <div class="meta">
        <a>Makanan</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <button class="ui primary button">
            Beli
          </button>
      </span>
      <span>
        <i class="money icon"></i>
        <b>Rp. 50.000,-</b>
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="header">Otak otak </div>
      <div class="meta">
        <a>Makanan</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <button class="ui primary button">
            Beli
          </button>
      </span>
      <span>
        <i class="money icon"></i>
        <b>Rp. 50.000,-</b>
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="header">Otak otak </div>
      <div class="meta">
        <a>Makanan</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <button class="ui primary button">
            Beli
          </button>
      </span>
      <span>
        <i class="money icon"></i>
        <b>Rp. 50.000,-</b>
      </span>
    </div>
  </div>
</div>
      </div>

    </div>
  </div>
  <% include ./partials/footer %>

</div>

</body>

</html>
