<% include ../partials/header %>


<body>

    <!-- Following Menu -->

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Create new User</h3>
                        <form class="ui form wide" action="/urls/<%= link.id %>/update" method="post">
                            <div class="field">
                                <label>Original URL</label>
                                <input name="url" placeholder="Url" type="text" value="<%= link.url %>">
                            </div>
                            <button class="ui primary button" type="submit">Shorten please!</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>

</html>
